.All > div {
    height: 300px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

h3, h1{
    text-align: center;
    text-transform: uppercase;
}
.All > img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50px;
    border: 2px solid #73AD21;
}

